<section class="section" id="colors">
    <header>
        <h2 class='section_title'>Colors</h2>
    </header>
    <ul class="colors_list">
        <li class="colors_block bg-primary-lighter">Color-primary-lighter</li>
        <li class="colors_block bg-primary-light">Color-primary-light</li>
        <li class="colors_block bg-primary">Color-primary</li>
        <li class="colors_block bg-primary-dark">Color-primary-dark</li>
        <li class="colors_block bg-primary-darker">Color-primary-darker</li>
        <li class="colors_block bg-secondary-lighter">Color-secondary-lighter</li>
        <li class="colors_block bg-secondary-light">Color-secondary-light</li>
        <li class="colors_block bg-secondary">Color-secondary</li>
        <li class="colors_block bg-secondary-dark">Color-secondary-dark</li>
        <li class="colors_block bg-secondary-darker">Color-secondary-darker</li>
        <li class="colors_block bg-black">Color-black</li>
        <li class="colors_block bg-dark">Color-dark</li>
        <li class="colors_block bg-light">Color-light</li>
        <li class="colors_block bg-white">Color-white</li>
        <li class="colors_block bg-success">Color-success</li>
        <li class="colors_block bg-warning">Color-warning</li>
        <li class="colors_block bg-danger">Color-danger</li>
    </ul>
</section>
