<section class="section">
    <header>
        <h2 class='section_title'>Intro</h2>
    </header>

    <div style="max-width: 80ch;">
        <p>Vous trouverez dans ce repo la base SASS que j'utilise pour la plupart de mes projets. Cette base a pour but de minimiser les répétitions, les tâches fastidieuses et les reflexions inutiles sur les valeurs à employer à l'aide d'un grand nombre de variables, de mixins et de classes utilitaires.</p>
        <br />
        <p>La majorité du contenu qui vous intéresse est situé dans <code class="nohighlight">src/styles/settings</code>, <code class="nohighlight">src/styles/utils</code> et <code class="nohighlight">src/styles/mixins</code> . J'ai commenté pas mal de trucs pour que vous puissiez suivre. Si certaines syntaxes vous semblent obscures, <a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html" target="_blank">la documentation de SASS</a> pourra surement vous aider.</p>
        <br />
        <p>Si vous avez des questions sur pourquoi j'ai fait telle ou telle chose ainsi, ou comment utiliser certaines fonctionalités de ce design system, ou même n'importe quelle remarque, n'hésitez pas à venir me voir sur Slack ou Discord.</p>
        <br />
        <p>Il est important de donner que, dans le cadre d'un gros projet, ce design system ne se suffit pas en soi. Il conviendrait ensuite d'utiliser cette base pour se créer des classes réutilisables pour des boutons, formulaires, dropdown, modales, menus, etc etc. Cependant j'ai omis tout ça ici parce que :</p>
        <br />
        <ul>
            <li>1 - C'est un design system, pas un framework à la Bootstrap destiné à vous imposer des choix en terme de design. Ca vous fournit les légos, à vous de les assembler.</li>
            <li>2 - Ca vous encourage à apprendre à faire vous même vos composants. Savoir utiliser une librairie ou des outils, c'est bien. Savoir mettre au point ses propres outils, c'est mieux</li>
        </ul>
        <br />
        <p>Enfin, notez bien que les valeurs de couleurs, polices, marges, etc sont données à titre d'exemple. dans un vrai projet il est certains que vous devreiez les modifier.</p>
        <br />
        <p>PS : Si vous désirez en savoir plus sur les design systems, je vous encourage à lire <a href="https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd">Cette série d'articles </a></p>
    </div>
</section>
