<section class="section" id="typography">
    <header>
        <h2 class='section_title'>Typography</h2>
    </header>

    <h3 class="section-subtitle">Fonts</h3>
    <ul>
        <li class="text-font-primary font-example">
            <p>Roboto</p>
            <p class="font-example_alphabet" data-content="abcdefghijklmnopqrstuvwxyz"></p>
            <p>0123456789</p>
        </li>
        <li class="text-font-title font-example">
            <p>Poiret One</p>
            <p class="font-example_alphabet" data-content="abcdefghijklmnopqrstuvwxyz"></p>
            <p>0123456789</p>
        </li>
        <li class="text-font-serif font-example">
            <p>Lora</p>
            <p class="font-example_alphabet" data-content="abcdefghijklmnopqrstuvwxyz"></p>
            <p>0123456789</p>
        </li>
        <li class="text-font-monospace font-example">
            <p>Roboto Mono</p>
            <p class="font-example_alphabet" data-content="abcdefghijklmnopqrstuvwxyz"></p>
            <p>0123456789</p>
        </li>
    </ul>

    <h3 class="section-subtitle">Sizes</h3>
    <ul>
        <p class="text-xxxl">TEXT XXXL</p>
        <p class="text-xxl">TEXT XXL</p>
        <p class="text-xl">TEXT XL</p>
        <p class="text-lg">TEXT LG</p>
        <p class="text-md">TEXT MD</p>
        <p class="text-sm">TEXT SM</p>
        <p class="text-xs">TEXT XS</p>
    </ul>
</section>
